.info_panel1 {
  font-size: large;
}
.info_reading {
  font-size: 150%;
}

.home_button{
  margin-left: 5px;
  margin-right: 5px;
}

.status_spinner{
  height: 1em !important;
  width: 1em !important;
}
